

    <div class="container" style="width: 570px; margin-top: 100px; height: 100%;">

      <div class="jumbotron" style="border: 1px solid cornflowerblue;">
        <div class="centered">

            <fieldset>
                <div class="col-md-10 col-md-offset-1" style="background-color: white; height:auto; text-align: center; padding-top: 15px; margin-top: 10px; border: 2px lightgray solid;">

                    <div>
                        <h5><strong>Congrats your ride request was submitted successfully!</strong></h5>
                        <h6>We will send you an Email with our decision based on our driver's availability and schedule.</h6>
                        <h6>Please check your Email after 60 minutes. If you do not recieve an email, please call: 1-800-AliTaxi</h6>
                        <br>
                        <h5 style="color: blue;"><strong>Thank You For Choosing Ali Taxi!</strong></h5>

                    </div>
                                            
                </div>
            </fieldset>

        </div>
      </div>

    </div>





